@font-face {
    font-family: "porsche";
    src: url("./fonts/911porschav3.ttf");
 }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

#titulo_nav{
    font-family: porsche;
}

#especificacoes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

span{
    font: 2rem bold black;
    font-family: porsche;
 
}